h1{
    font-family: 'Pacifico', cursive;
    z-index: 1;
}
.home{
    border:dotted 2px ;
    border-left: 0px;
    border-right: 0px;
}
.TheHomePage{
    background-color: #F7ECDE;
}

.home .form-control:focus {
    border-color: rgb(217, 156, 57);
    box-shadow: rgba(254, 194, 96, 0.333) 0px 0px 0px 0.25rem;
}
#tbody .visitButton{
    background-color: #9EB23B;
    color: white;
}
#tbody .visitButton:hover{
    background-color: #8A9E23;
}
.home .wrong{
    background-image: url('../images/exclamation.svg');
    background-repeat: no-repeat;
    background-position: right .1% center;
    background-size: 1.3em;
}
.home .wrong:focus{
    border-color:#dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220,53,69,.25);
}
.home .right{
    background-image: url('../images/right.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.2em;
    background-position: right .2% center;
}
.home .right:focus{
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgba(25,135,84,.25);
}
h1::after{
    content: "";
    position: absolute;
    background-color: #FEC260;
    right: 0;
    left: 0;
    top: 55%;
    bottom: 30%;
    z-index: -1;
    transition: all .25s;
}
h1:hover::after{
    top: 45%;
}
h4{
    background-image:linear-gradient(to right ,yellow,green);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.layer{
    position: absolute;
    background-color: rgba(0, 0, 0,.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.header >div{
    width: 20px;
    height: 20px;
}
.header :nth-child(1){
    background-color: #F15F5D;
}
.header :nth-child(2){
    background-color: #FEBE2E;
}
.header :nth-child(3){
    background-color: #4DB748;
}
.my-modal{
    background-color: white;
}
.myPI{
    color: #BB4120;
}